/*  selector order:
 *      element first,
 *      class second,
 *      id third,
 *      @media last.
 *  each part ordered by first letter.
 */

@charset "UTF-8";

input, textarea {
    border: none;
	padding: 0;
    
    overflow: hidden;

    font-family: "Helvetica", "Microsoft JhengHei", "Noto Sans";
    font-size: 16px;
}

.experience-text {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
    margin-left: 240px;
    
    width: 690px;
	height: 22px;
    line-height: 22px;
    
    text-align: right;
}

.experience-text:first-child {
	margin-right: 30px;
}

.info-size-controller {
	position: absolute;
	
	width: 12px;
	height: 12px;
	
	background-color: #666;
}

.info-size-controller:nth-of-type(1) {
	top: 0;
	left: 0;
	
	cursor: nw-resize;
}

.info-size-controller:nth-of-type(2) {
	top: 0;
	right: 0;
	
	cursor: ne-resize;
}

.info-size-controller:nth-of-type(3) {
	right: 0;
	bottom: 0;
	
	cursor: se-resize;
}

.info-size-controller:nth-of-type(4) {
	left: 0;
	bottom: 0;
	
	cursor: sw-resize;
}

.poster-container {
    position: relative;
    margin: 0 auto;
    
    width: 960px;
    height: 540px;
}

.poster-container img {
	position: relative;
	
	height: auto;
}

.text-red {
	margin: 0 4px;
	
	width: 22px;
	height: 22px;
}

input.text-red:checked + .experience-text {
	color: #F00;
}

#experience-box {
    position: absolute;
    top: 430px;
	padding-top: 12px;
	
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row-reverse wrap;
	flex-flow: row-reverse wrap;
	align-content: flex-start;
    width: inherit;
    height: 110px;
	
    background-image: url(../src/poster-brand.png);
    background-size: cover;
}

#poster-background {
    position: relative;
    
    width: inherit;
    height: 430px;
    
    overflow: hidden;
    
    background-image: url("../src/transparent.png");
    background-repeat: repeat;
}

#poster-info {
    position: absolute;
    top: 224px;
    left: 472px;
    
    width: 284px;
    height: 172px;
}

#poster-info textarea {
	padding: 8px;
	margin: 6px;
	
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    line-height: 24px;
    
    resize: none;
    background-color: rgba(255, 255, 255, 0.4);
}

#poster-location {
    position: absolute;
    top: 390px;
    left: 768px;
    
    width: 160px;
	height: 40px;
    line-height: 40px;
    
    text-align: center;
    background-color: transparent;
}

#poster-profile {
    position: absolute;
    top: 230px;
    left: 768px;
    
    width: 160px;
    height: 160px;
    border: 5px solid;
    border-color: #FFF;
    
    overflow: hidden;
    
    background-image: url("../src/transparent.png");
    background-repeat: repeat;
}